<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GroupAss2</display-name>
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/WEB-INF/pages/main/login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Landing</servlet-name>
    <jsp-file>/WEB-INF/pages/main/landing.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>DepartmentLanding</servlet-name>
    <jsp-file>/WEB-INF/pages/department/department-landing.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>EmployeeLanding</servlet-name>
    <jsp-file>/WEB-INF/pages/employee/employee-landing.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>GroupLanding</servlet-name>
    <jsp-file>/WEB-INF/pages/group/group-landing.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ReportLanding</servlet-name>
    <jsp-file>/WEB-INF/pages/report/report-landing.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>AttendanceLanding</servlet-name>
    <jsp-file>/WEB-INF/pages/attendance/attendance-landing.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>EmployeeForm</servlet-name>
    <jsp-file>/WEB-INF/pages/employee/employee_form.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>DepartmentForm</servlet-name>
    <jsp-file>/WEB-INF/pages/department/department_form.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>EmployeeSuccess</servlet-name>
    <jsp-file>/WEB-INF/pages/employee/employee_success.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeView</servlet-name>
  	<jsp-file>/WEB-INF/pages/employee/employee-view.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>DepartmentSuccess</servlet-name>
    <jsp-file>/WEB-INF/pages/department/department_success.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>GroupForm</servlet-name>
    <jsp-file>/WEB-INF/pages/group/group_form.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>GroupSuccess</servlet-name>
    <jsp-file>/WEB-INF/pages/group/group_success.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ReportCreate</servlet-name>
    <jsp-file>/WEB-INF/pages/report/template/create-report.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ReportEnter</servlet-name>
    <jsp-file>/WEB-INF/pages/report/evaluation/enter-report.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ReportView</servlet-name>
    <jsp-file>/WEB-INF/pages/report/view/view-report.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>DepartmentView</servlet-name>
    <jsp-file>/WEB-INF/pages/department/department_view.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>AttendanceView</servlet-name>
    <jsp-file>/WEB-INF/pages/attendance/view/view-attendance.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceView</servlet-name>
    <url-pattern>/AttendanceView</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>GroupView</servlet-name>
    <jsp-file>/WEB-INF/pages/group/group_view.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Landing</servlet-name>
    <url-pattern>/Landing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentLanding</servlet-name>
    <url-pattern>/Departments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeLanding</servlet-name>
    <url-pattern>/Employees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupLanding</servlet-name>
    <url-pattern>/Group</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportLanding</servlet-name>
    <url-pattern>/Reports</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttendanceLanding</servlet-name>
    <url-pattern>/Attendance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeForm</servlet-name>
    <url-pattern>/EmployeeForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentForm</servlet-name>
    <url-pattern>/DepartmentForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentSuccess</servlet-name>
    <url-pattern>/DepartmentSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupForm</servlet-name>
    <url-pattern>/GroupForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupSuccess</servlet-name>
    <url-pattern>/GroupSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeSuccess</servlet-name>
    <url-pattern>/EmployeeSuccess</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>EmployeeView</servlet-name>
    <url-pattern>/EmployeeView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportCreate</servlet-name>
    <url-pattern>/ReportCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentView</servlet-name>
    <url-pattern>/DepartmentView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupView</servlet-name>
    <url-pattern>/GroupView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   	<servlet-name>ReportEnter</servlet-name>
    <url-pattern>/ReportEnter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportView</servlet-name>
    <url-pattern>/ReportView</url-pattern>
  </servlet-mapping>
</web-app>